<!-- head.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paddy's work log</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <nav class="nav-container">
    <a href="/">Home</a>
    <a href="/calls">New Call</a>
  </nav>
  <header>
    <h1>Paddy's work organizer</h1>
  </header>
