/*
Colors
*/
$primary-clr: yellowgreen;
$bg-clr: #dfe4de;
$bg-clr-alt: #e6e8e5;
$primary-text-clr: white;
$accent-clr: #ff7477;
$accent-clr2: #e69597;
$accent-clr3: #ceb5b7;
$other-clr: #2f2f2f;

/*
Fonts
*/
$primary-font: "Roboto-Light", Tahoma;
$heading-font: "StartrekenterprisefutureItalic", sans-serif;
$subHeading-font: "ARCADECLASSIC", sans-serif;

/*
Font weights
*/
